<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC  
         "-//Hibernate/Hibernate Configuration DTD 5.3//EN"  
         "http://hibernate.sourceforge.net/hibernate-configuration-5.3.dtd">  
<hibernate-configuration>  
 
   <session-factory>  
       <property name="hbm2ddl.auto">update</property>  
       <property name="dialect" value="org.hibernate.dialect.MySQL8Dialect" />  
       <property name="driverClassName" value="com.mysql.cj.jdbc.Driver" />
  <property name="url" value="jdbc:mysql://localhost:3306/cts" />
  <property name="username" value="root" />
  <property name="password" value="root" /> 
   <mapping class="mavenproject.hibernate.Student1"/>  
   </session-factory>  
 
</hibernate-configuration> 